[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.13"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"
flake8-bugbear = "*"
pytest-benchmark = "*"
pytest = "*"

[scripts]
format = "black ."
lint = "flake8 --append-config=setup.cfg"
test = "pytest ./tests --benchmark-skip"
new = "pwsh -File new_problem.ps1"
solution = "python runner.py"
